img {
  height: 50px;
}

.country-container {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: lightGrey;
  box-shadow: 10px 5px 10px;
  width: 300px;
}

.country-container li {
  list-style: none;
}
